graphviz==0.17
imageio==2.10.1
matplotlib==3.3.4
networkx==2.5.1
numpy==1.19.5
opencv-python==4.5.4.58
Pillow==8.4.0
sacred==0.8.2
scikit-image==0.17.2
scipy==1.5.4
Shapely==1.8.0
tensorboard==2.7.0
torch==1.10.0
torchvision==0.11.1
torchviz==0.0.2
tqdm==4.62.3
